<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Books page :)</title>
</head>

<body>
<h1>Books list</h1>

<table>
    <tr>
        <th>Title</th>
        <th>ID</th>
        <th>ISBN</th>
        <th>Publisher</th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.title}">123</td>
        <td th:text="${book.id}">123</td>
        <td th:text="${book.isbn}">123</td>
        <td th:text="${book.publisher.getPublisherName}">123</td>
    </tr>
</table>

</body>
</html>